<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inProduction</key>
	<true/>
	<key>developmentAppKey</key>
	<string>KaByEELjT-2xnO4LlwYA9w</string>
	<key>developmentAppSecret</key>
	<string>SjyAsm1GRImVV_qqYy0hgg</string>
	<key>productionAppKey</key>
	<string>1_et0_CzQ_Wz1p_XYZBG6Q</string>
	<key>productionAppSecret</key>
	<string>FjG6_KLsRsyqPwppfF6VNg</string>
</dict>
</plist>
